.container.plain {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.plain .f {
  font-size: 3em;
  text-shadow: 0 0 0.05em white;
}
.container.plain .l {
  font-size: 3em;
  text-shadow: 0 0 0.05em white;
}
.container.plain .i {
  font-size: 3em;
  text-shadow: 0 0 0.05em white;
}
.container.plain .p {
  font-size: 3em;
  text-shadow: 0 0 0.05em white;
}
.container.plain .for {
  display: none;
}
.container.plain .gsap {
  display: none;
}

.container.column {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;
}
.container.column .f {
  height: 100vh;
  width: 25vw;
  font-size: 3em;
  background-color: #4a3aa1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.container.column .l {
  font-weight: bolder;
  height: 100vh;
  width: 25vw;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ba7e0;
}
.container.column .i {
  height: 100vh;
  width: 25vw;
  font-weight: bolder;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ab4ebc;
}
.container.column .p {
  height: 100vh;
  width: 25vw;
  font-weight: bolder;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7376e;
}
.container.column .for {
  display: none;
}
.container.column .gsap {
  display: none;
}

.container.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0;
  margin: 0;
}
.container.grid .f {
  background-color: #4a3aa1;
  grid-area: 1/1/2/2;
  font-weight: bolder;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.grid .l {
  background-color: #4ba7e0;
  grid-area: 1/2/2/3;
  font-weight: bolder;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.grid .i {
  background-color: #ab4ebc;
  grid-area: 2/1/3/2;
  font-weight: bolder;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.grid .p {
  background-color: #c7376e;
  grid-area: 2/2/3/3;
  font-weight: bolder;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.grid .for {
  display: none;
}
.container.grid .gsap {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #232121;
}

.container.final {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.final .f {
  height: 4em;
  width: 2em;
  font-size: 2.8em;
  border-radius: 10px;
  background-color: #4a3aa1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.container.final .l {
  font-weight: bolder;
  height: 4em;
  width: 2em;
  font-size: 2.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4ba7e0;
}
.container.final .i {
  height: 4em;
  width: 2em;
  font-weight: bolder;
  font-size: 2.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ab4ebc;
  border-radius: 10px;
}
.container.final .p {
  height: 4em;
  width: 2em;
  font-weight: bolder;
  font-size: 2.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7376e;
  border-radius: 10px;
}
.container.final .for {
  font-size: 1.2em;
  margin-left: 2em;
  margin-right: 1.5em;
}
.container.final .gsap {
  font-size: 2em;
  text-shadow: 0 0 1em whitesmoke;
}

.letter {
  color: black;
}

.container.plain .letter {
  color: aliceblue;
}

.for, .gsap {
  color: aliceblue;
}/*# sourceMappingURL=flip.css.map */