

@import "plain";
@import "column";
@import "grid";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container.final {
    height: 100vh;
    width: 100vw;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    .f {
        height: 4.5em;
        width: 2em;
        font-size: 3em;
        color:black;
        border-radius: 10px;
        background-color: #4a3aa1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
    }

    .l {
        font-weight: bolder;
        height: 4.5em;
        width: 2em;
        font-size: 3em;
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #4ba7e0;
    }

    .i {
        height: 4.5em;
        width: 2em;
        font-weight: bolder;
        font-size: 3em;
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ab4ebc;
        border-radius: 10px;
    }

    .p {
        height: 4.5em;
        width: 2em;
        font-weight: bolder;
        font-size: 3em;
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c7376e;
        border-radius: 10px;
    }

    .for {
        font-size: 1.2em;
        margin-left: 2em;
        margin-right: 1.5em;
    }

    .gsap {
        font-size: 2em;
        text-shadow:0 0 1em whitesmoke;
    }
}