.container.grid {
    height:100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .f {
        background-color: #4a3aa1;
        grid-area: 1 / 1 / 2 / 2;
        font-weight: bolder;
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .l {
        background-color: #4ba7e0;
        grid-area: 1 / 2 / 2 / 3;
        font-weight: bolder;
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .i {
        background-color: #ab4ebc;
        grid-area: 2 / 1 / 3 / 2;
        font-weight: bolder;
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p {
        background-color: #c7376e;
        grid-area: 2 / 2 / 3 / 3;
        font-weight: bolder;
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .for {
        display: none;
    }

    .gsap {
        display: none;
    }
}