
.container.plain {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .f {
        text-shadow: 0 0 0.05em white;
    }

    .l {
        text-shadow: 0 0 0.05em white;
        margin-left:.1em;
    }

    .i {
        text-shadow: 0 0 0.05em white;
        margin-left:.1em;
    }

    .p {
        text-shadow: 0 0 0.05em white;
        margin-left:.1em;
    }

    .for {
        display:none;
    }

    .gsap {
        display:none;
    }
}