$color1: white;

:root {
    --color2: linear-gradient(to right, blue, red);
}


/* @mixin & @include的搭配使用 */
@mixin bg_base {
    /* 將會重複用到的 CSS設定放在 mixin中 */
    color: rgb(255, 132, 24);
    background-color: #ccd4fb;
    height: 20px;
    width: 20px;
}

@mixin txt_base {
    color: brown;
    font-size: 3em;
    text-decoration: wavy;
    font-weight: bold;
}

@mixin insert_css($display, $direction, $list_type, $txtColor: blue) {
    display: $display;
    flex-direction: $direction;
    list-style-type: $list_type;
    ;
    color: $txtColor;
}

.list1 {
    @include insert_css(flex, row, none);
}

.list2 {
    @include insert_css(flex, column, upper-roman, yellow)
}

.wrapper {
    background-color: #e89999;
    $height: 100vh;
    height: $height/2;

    >p {
        font-size: 3em;

        &:hover {
            font-style: italic;
            text-decoration: wavy;
            background: var(--color2);
        }
    }

    &:hover p {
        text-shadow: 0 0 .3rem wheat;
        font-size: 4em;
        color: $color1;
    }

    .test1 {
        @include bg_base;
    }

    .test2 {
        @include txt_base;
    }
}

.a {
    background-color: #e7e57d;
    height: 200px;
}

// html不存在的元件，但想共用css 設定，可在自訂的名稱前面使用 % 符號
%txt_css {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

.b {
    @extend .a,%txt_css;
}